@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: Inter;
}
.container{
    background-color: #1B1B1B;
}
label{
    color: white;
}
.btn-link{
    color: white;
}
.btn-link:hover{
    color: white;
}

.login{
    height: 100vh;
}
