@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.container{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.table{
    background-color: #E0E0E0;
    border-radius: 10px;
    border: 1px solid #ADADAD;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    font-family: Inter;
    font-weight: 800;
    color: white;
}
.buttonCreate{
    text-decoration: none;
    background-color: #003D00;
    border-radius: 10px;
    border: solid 1px #5CFF5C;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
    font-weight: 700;
}
.label{
font-family: Inter;
padding: 15px;
}
.products{
    font-family: Inter;
    padding: 15px;
}
.icon{
    font-size: 1px;
}
.actions{
    text-decoration: none;
    padding: 5px;
}
.buttons{
    display: flex;
}
